.footer {
    flex-direction: column;
    margin: 7.5em 0 2.5em;

    .nav {
        padding: 0;
        margin: 2em 0;
        li {
            margin: 0 3em;
        }
    }

    .hero-social-icons{
        display: flex;
        img{
            margin: 1.5em;
        }
    }
}
